<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
  
  
  
      <!-- Main Sidebar Container -->
  
  
      <!-- Content Wrapper. Contains page content -->
      <div class="wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <!-- cambié el color -->
                <h1 style="color: #404C4A">Gestión de personal</h1>
              </div>
  
            </div>
          </div><!-- /.container-fluid -->
        </section>
  
        <!-- Main content -->
        <section class="content">
  
          <!-- Default box -->
          <!-- cambié el color -->
          <div style="color: #404C4A" class="card">
            <div class="card-header">
              <h3 class="card-title">Personal Rokasa</h3>
  
  
            </div>
            <div class="card-body p-0">
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">
                      #
                    </th>
                    <th class="text-center">
                      Nombre
                    </th>
                    <th class="text-center">
                      Apellido Paterno
                    </th>
                    <th class="text-center">
                      Apellido Materno
                    </th>
                    <th class="text-center">
                      Correo
                    </th>
                    <th class="text-center">
                      Teléfono
                    </th>
                    <th class="text-center">
                      DNI
                    </th>
                    <th class="text-center">
                      Area
                    </th>
                    <th style="width: 20%">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td class="text-center">
                      Jesus
                    </td>
                    <td class="text-center">
                      Sideral
                    </td>
                    <td class="text-center">
                      Carrión
                    </td>
                    <td class="text-center">
                      sideral@gmail.com
                    </td>
                    <td class="text-center">
                      987654321
                    </td>
                    <td class="text-center">
                      1234567
                    </td>
                    <td class="text-center">
                      Ventas
                    </td>
  
                    <td class="project-actions text-right">
                      <!--<a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">
                        </i>
                        View
                      </a>-->
                      <a class="btn btn-info btn-sm" href="#">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                      </a>
                      <a class="btn btn-danger btn-sm" href="#">
                        <i class="fas fa-trash">
                        </i>
                        Eliminar
                      </a>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      2
                    </td>
                    <td class="text-center">
                      Luis
                    </td>
                    <td class="text-center">
                      Perez
                    </td>
                    <td class="text-center">
                      Torres
                    </td>
                    <td class="text-center">
                      luis@gmail.com
                    </td>
                    <td class="text-center">
                      977754321
                    </td>
                    <td class="text-center">
                      1233367
                    </td>
                    <td class="text-center">
                      Ventas
                    </td>
  
                    <td class="project-actions text-right">
                      <!--<a class="btn btn-primary btn-sm" href="#">
                          <i class="fas fa-folder">
                          </i>
                          View
                        </a>-->
                      <!-- cambié el color -->
                      <a class="btn btn-info btn-sm" href="#">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                      </a>
                      <a class="btn btn-danger btn-sm" href="#">
                        <i class="fas fa-trash">
                        </i>
                        Eliminar
                      </a>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      3
                    </td>
                    <td class="text-center">
                      Luisa
                    </td>
                    <td class="text-center">
                      Mamani
                    </td>
                    <td class="text-center">
                      Gonzales
                    </td>
                    <td class="text-center">
                      luisa123@gmail.com
                    </td>
                    <td class="text-center">
                      911114321
                    </td>
                    <td class="text-center">
                      1234000
                    </td>
                    <td class="text-center">
                      Inventario
                    </td>
  
                    <td class="project-actions text-right">
                      <!--<a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                            </i>
                            View
                          </a>-->
                      <a class="btn btn-info btn-sm" href="#">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                      </a>
                      <a class="btn btn-danger btn-sm" href="#">
                        <i class="fas fa-trash">
                        </i>
                        Eliminar
                      </a>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      4
                    </td>
                    <td class="text-center">
                      Mario
                    </td>
                    <td class="text-center">
                      Garrido
                    </td>
                    <td class="text-center">
                      Garcia
                    </td>
                    <td class="text-center">
                      mariogar@gmail.com
                    </td>
                    <td class="text-center">
                      982354321
                    </td>
                    <td class="text-center">
                      1222267
                    </td>
                    <td class="text-center">
                      Ventas
                    </td>
  
                    <td class="project-actions text-right">
                      <!--<a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                            </a>-->
                      <a class="btn btn-info btn-sm" href="#">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                      </a>
                      <a class="btn btn-danger btn-sm" href="#">
                        <i class="fas fa-trash">
                        </i>
                        Eliminar
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
  
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
  
     
  
      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark"> -->
      <!-- Control sidebar content goes here -->
      <!-- </aside> -->
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
  </body>