<div class="wrapper">
  

    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- cambié el color -->
              <h1 style="color: #404C4A">Gestión de entregas</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li  class="breadcrumb-item"><a style="color: #EB8038" href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Gestión de entregas</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section  class="content">

        <!-- Default box -->
        <!-- cambié el color -->
        <div style="color: #404C4A" class="card">
          <div class="card-header">
            <h3 class="card-title">Personal Rokasa</h3>

            <!-- <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div> -->
          </div>
          <div class="card-body p-0">
            <table  class="table table-hover table-striped projects" >
              <thead>
                <tr id="tr-click">

                  <th style="width: 1%">
                    #
                  </th>
                  <th class="text-center">
                    Pedido
                  </th>
                  <th class="text-center">
                    Proovedor
                  </th>
                  <th class="text-center">
                    Fecha
                  </th>
                  <th class="text-center">
                    Monto
                  </th>
                  
                  <th style="width: 20%">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td class="text-center">
                    001
                  </td>
                  <td class="text-center">
                    Pulga asesina
                  </td>
                  <td class="text-center">
                    1/7/21
                  </td>
                  <td class="text-center">
                    300
                  </td>
                 

                  <td class="project-actions text-right">
                    <!--<a class="btn btn-primary btn-sm" href="#">
                      <i class="fas fa-folder">
                      </i>
                      View
                    </a>-->
                    <a  class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a  class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Eliminar
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>
                    2
                  </td>
                  <td class="text-center">
                    002
                  </td>
                  <td class="text-center">
                    Abersol
                  </td>
                  <td class="text-center">
                    8/5/21
                  </td>
                  <td class="text-center">
                    200
                  </td>
                  

                  <td class="project-actions text-right">
                    <!--<a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">
                        </i>
                        View
                      </a>-->
                      <!-- cambié el color -->
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Eliminar
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>
                    3
                  </td>
                  <td class="text-center">
                    003
                  </td>
                  <td class="text-center">
                    Mamani
                  </td>
                  <td class="text-center">
                    9/10/21
                  </td>
                  <td class="text-center">
                    450
                  </td>
                  

                  <td class="project-actions text-right">
                    <!--<a class="btn btn-primary btn-sm" href="#">
                          <i class="fas fa-folder">
                          </i>
                          View
                        </a>-->
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Eliminar
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>
                    4
                  </td>
                  <td class="text-center">
                    004
                  </td>
                  <td class="text-center">
                    Cementos fierro
                  </td>
                  <td class="text-center">
                    7/4/21
                  </td>
                  <td class="text-center">
                    980
                  </td>
                 

                  <td class="project-actions text-right">
                    <!--<a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                            </i>
                            View
                          </a>-->
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fas fa-trash">
                      </i>
                      Eliminar
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    

    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
    <!-- </aside> -->
    <!-- /.control-sidebar -->
  </div>


